<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Lession3.UserMapping.UserDao">
	<select id="getUser" parameterType="int" resultType="Lession3.Demo002.User" >
		select * from t_user where age=#{age}
	</select>
	<insert id="save">
		insert into t_user(name ,age) values (#{name},#{age})
	</insert>
	<delete id="delete" >
		delete from t_user where age = #{age}
	</delete>
	<update id="update">
		update t_user set name = #{name}  where age = #{age}
	</update>
	<delete id="deleteMany">
		delete from t_user where age >5
	</delete>
</mapper>
